/* index.css */
/* src/index.css */

body {
  background-image: url('./assets/galaxypoto.jpeg');
  background-size: cover; /* Adjust the size of the image */
  background-position: center; /* Center the image */
  color: white; /* Adjust text color for readability */
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
